<html>
    <head>
        <title>Poster</title>
        <link rel="stylesheet" href="/static/style_sheets/style4.css">
        <link rel="stylesheet" href="/static/style_sheets/test.js">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    </head>
    
    <body>
        <h1 class="ml8">
        <span class="letters-container" style="text-align: center;">
            <a href="/home"><span class="letters letters-left">Hi</span></a>
            <!-- <span class="letters letters-left">Hi</span> -->
            <span class="letters bang">!</span>
        </span>
        <span class="circle circle-white"></span>
        <span class="circle circle-dark"></span>
        <span class="circle circle-container"><span class="circle circle-dark-dashed"></span></span>
        </h1>
    </body>   
       
       
</html>
